
<div class="row">
  <main class="col-md-12">
    <!-- Start your code here -->
    <h2>
      Welcome, here you can find information about the Author of this
      website
    </h2>
    <div class="about-box">
      <h4>My information</h4>
      <p>
        Student name: Mahbubul Hasan<br />
        Student id: 161258215<br />
        Program: Business IT
      </p>
    </div>
    <!-- End your code here  -->
  </main>
</div>