
<div class="row">
  <main class="col-md-12">
    <!-- Start your code here -->
    <section>
      <h2>"Tables" Section</h2>
      <div>
        <table>
          <caption>
            Toursitic countries
          </caption>
          <tr>
            <th>Country</th>
            <th>Visitors</th>
            <th>rating</th>
          </tr>
          <tr>
            <td>Canada</td>
            <td>100 million</td>
            <td>5*</td>
          </tr>
          <tr>
            <td>U.S</td>
            <td>99 million</td>
            <td>4.9*</td>
          </tr>
          <tr>
            <td>India</td>
            <td colspan="2">
              <center>300 million, 6*</center>
            </td>
          </tr>
        </table>
      </div>
      <div>
        <table>
          <caption>
            Races
          </caption>
          <tr>
            <th>name</th>
            <th>distance</th>
            <th>champion</th>
          </tr>
          <tr>
            <td>France Race</td>
            <td>1 mile</td>
            <td>John Wick</td>
          </tr>
          <tr>
            <td>Germany Race</td>
            <td>300 miles</td>
            <td>Super man</td>
          </tr>
          <tr>
            <td colspan="2">Canada Race, random distance</td>
            <td>Mahbubul</td>
          </tr>
        </table>
      </div>
    </section>

    <p>Here are 2 tables that use th, td,tr, colspan</p>
    <section class="lists">
      <h2>"Lists" Section</h2>
      <ul>
        <li>AAA</li>
        <li>BBB</li>
        <li>CCC</li>
        <li>DDD</li>
        <li>
          EEE
          <ol>
            <li>EEE1</li>
            <li>EEE2</li>
            <li>EEE3</li>
          </ol>
        </li>
      </ul>
      <p>This is a list inside a list</p>
    </section>
    <section>
      <h2>"Images" Section</h2>
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/6/69/Snowboarder_in_halfpipe.jpg"
        alt="Snowboarder in halfpipe"
      />
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/6/69/Snowboarder_in_halfpipe.jpg"
        alt="Snowboarder in halfpipe"
        width="500"
        height="250"
        style="border: 1px solid black"
      />
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/6/69/Snowboarder_in_halfpipe.jpg"
        alt="Snowboarder in halfpipe"
        width="250"
        height="125"
        style="border: 1px solid black"
      />

      <p>This is how you display images in your website</p>
    </section>
    <section>
      <h2>"Audio" Section</h2>
      <audio controls>
        <source
          src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.mp3"
          type="audio/mpeg"
        />
        Your browser does not support the audio element.
      </audio>
      <audio controls autoplay loop>
        <source
          src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.ogg"
          type="audio/mpeg"
        />
        Your browser does not support the audio element.
      </audio>
      <p>This is how you add audio player to your website</p>

      <h2>"Video" Section</h2>
      <video controls width="640" height="360">
        <source
          src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.mp4"
          type="video/mp4"
        />
        Your browser does not support the video tag.
      </video>
      <video controls autoplay loop width="640" height="360">
        <source
          src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.mp4"
          type="video/mp4"
        />
        Your browser does not support the video tag.
      </video>
      <p>This is how you show a video player in your website</p>
    </section>

    <!-- End your code here  -->
  </main>
</div>